/*##############################################################################
General Styling (fonts and colors)
##############################################################################*/

/* Add fonts*/
@font-face {
    font-family: "Graphik";
    src: local('Graphik'), url("fonts/Graphik.ttf");
}
@font-face {
    font-family: "Graphik";
    src: local('Graphik'), url("fonts/GraphikBold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Graphik";
    src: local('Graphik'), url("fonts/GraphikMedium.ttf");
    font-weight: 500;
}


:root {
 --accent_lite: #DDE3E9;
 --accent_blue: #004270;
 --accent_darkorange: #7b3014
}


/*##############################################################################
Layout 
###############################################################################*/

/* Center and limit the width of the main content area */
.app-body {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* max width of stuff in the app */ 
.fixwidth {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* Remove rounded edges everything like buttons and drop downs */
* {
  border-radius: 0!important;
}

/* Center the state note section within the content area */
#state-note-section {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* Hide navigation bar menu items*/
#navbarID{ display:none; }  

/* Hide navigation bar*/
.navbar{ display:none !important;}  


/* Top of page is a small grid of controls and info*/
/* Can change background of header here background-color:#DEF0F6; */
.header {
  background-color: var(--accent_lite) !important; 
  min-height: 7.0em;
  display: absolute; /* without this the blue part of the header disappears */
  left: 50%;
}

/* The overflow property controls how content that exceeds the dimensions of an
element is handled. By setting it to visible, any content that extends beyond
the boundaries of the <div> elements will be visible and may overlap with other
elements on the page.*/
.shiny-split-layout > div {
  overflow:visible;
}


/*##############################################################################
select/seletize/dropdown inputs  
##############################################################################*/

/* Adjust appearance of drop-downs and set text color */
.selectize-input, .selectize-input.dropdown-active, .selectize-dropdown, .selectize-dropdown-content .active {
  border-radius:0px;
  color: #004270;
}


/* picker input styling */

/* Set color for non-selected items in color drop-down menu */
.dropdown-menu ul li a {
  color: #004270 !important;
  font-family: Graphik;
}

/* Set color for selected item in drop-down */
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus {
  color: #004270 !important;
  background-color: #fff;
}

/* Set background color for selected item on hover */
.dropdown-menu>.active>a:hover {
  background-color: #f5f5f5;
}

/* Ensure normal text wrapping for download buttons */
button > div {
  -o-text-overflow: visible;
  text-overflow: visible;
  overflow: visible;
  white-space: visible;
}

/* Styling for tooltips */
.tooltip > .tooltip-inner {
                max-width: 350px;
                font-size: 1em;
                color: white;
                background-color: black;
                text-align: left;
}


/*##############################################################################
NATL MAP EXPLORER
##############################################################################*/

/* NATL - Downloads and buttons ***********************************************/

/* Style for selector input */
#input-btn {
  width: 90%;
  max-width: 20em;
  margin-top: 1em;
  text-align: left;
  color: #004270;
  font-family: Graphik;
}

.input-col {
  min-width: 12em;
  padding-left: 0px;
  padding-right: 0px;
}

/* Style for download map button */
.download-map {
  margin: 2.75em 1em 2.75em 1em;
  border-radius:0px;
  color: #004270;
  text-align: left;
  width: 15em;
  /* width: 175px;*/
  background-color:#004270;
  color: #fff;
  font-family: Graphik;
}

/* NATL - hex map *************************************************************/

/* Margins and font style for map select input */
.form-group.shiny-input-container, .selectize-control {
  margin-bottom: 0;
}

/* Title of map settings*/
#selected-map {
  text-align: center;
  font-size: 30px;
  font-family: Graphik;
  font-weight: bold;
}

/* Map settings*/
#hex-map{
  text-align: center;
  font-family: Graphik;
}

/* Map labels */
.maplabel{
  text-align: center;
}

/* NATL - Table ***************************************************************/

/* Title of table under map settings */
#selected-map-table{
  text-align: center;
  font-size: 30px;
  font-family: Graphik !important;
  font-weight: bold;
}

/* Table under map settings */
#reactable-table {
  text-align: center;
  overflow-x: auto;
}

/* Change search bar appearance
#reactable-table input {
  border-radius: 0px;
  border: 3px;
  color: #004270;
  width: 275px;
  height: 32px;
  background: #FFFFFF;
  position: relative; bottom: 10px;
}
*/

/*##############################################################################
STATE REPORTS
###############################################################################*/

/* Style for download chart button */
.download-chart {
  border-radius:0px;
  color: #fff;
  border-color: #fff;
  text-align: left;
  width: 3em;
  background-color:#fff;
  color: #000000;
  font-family: Graphik;
}

/* STATE DASHBOARD: Title and value boxes *************************************/

/* Title of state settings */
#selected-state {
  text-align: center;
  font-size: 30px;
  font-family: Graphik;
  font-weight: bold;
}

/* Styling for value boxes */
.small-box.bg-black{
  background-color: #004270 !important;
  color: #FFFFFF !important;
  font-family: Graphik !important;
  min-width: 13em;
  min-height: 15em;
}
.small-box{
  border: 1px;
  border-style: solid;
  border-color: #FFFFFF !important;
  border-radius: 1px;
  padding: 0.75em;
  min-width: 13em;
  min-height: 15em;
}

/* STATE DASHBOARD: Tabset Panels *********************************************/

/* Adjust modal width for pop-up */
.modal-dialog {
    width: fit-content !important;
}

/* Modal content style */
.modal-content {
    font-family: Graphik;
    border-radius:0px;
}

/* Close button style */
.close {
    border-radius:0px;
}

/* Tab formatting */
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin: 0;
  width: 100%
  display: inline;
  padding: 1px 0; /* raise tabs slightly above line */
}

.nav-tabs > li {
  float:none;
  display:inline-block; /* maintains horizontal tab structure for parole, prob and revocations */
  zoom:1;
  width: 200px;
  padding: 0px 14px; /* changes spacing between tabpanels */
  font-family: Graphik;
}

.nav-tabs {
  text-align:center;
  border-bottom: #cccccc !important;
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
  font-size: 14px;
  font-family: Graphik;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #FFFFFF;
  cursor: default;
  background-color: #004270;
  border-bottom-color: #cccccc;
  font-family: Graphik;
}

.nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143; /* height of tab panel buttons */
  border-radius: 0px 0px 0 0;
  background-color: #F4F6F8;
  color: #004270;
  font-family: Graphik;
}

/* Affects top nav bar
.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: transparent;
  border: 2px solid #cccccc;
}*/

/* Styling for state note title */
#selected-state-note-title {
  text-align: center;
  font-size: 30px;
  font-family: Graphik;
  font-weight: bold;
}

/* Styling for state note subtitle */
#selected-state-note-subtitle {
  text-align: left;
  font-size: 16px;
  font-family: Graphik;
  font-weight: bold;
}

/* Styling for state note content */
#selected-state-note {
  text-align: left;
  font-family: Graphik;
}

/* Placeholder for state notes on overview tab */
/* Additional styling can be added using this class */
p.statetxt {
}

/* Styling for consistent state note */
#consistent-state-note {
  text-align: left;
  font-style: italic;
  font-family: Graphik;
}


/* STATE DASHBOARD: other *****************************************************/


/* Styling for demographic titles */
.table-title {
  text-align: left;
  font-size: 22px;
  font-family: Graphik;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 5px;
}


div.notetxt {
  font-family: Graphik;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 7px;
}

.notesubtitle {
  text-align: left;
  font-size: 16px;
  font-family: Graphik;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 3px;
}



a.datasource {
  color: var(--accent_blue) !important; 
}

span.highlight {
  font-family: Graphik;
  font-weight: 500;
  color: var(--accent_darkorange); /* use darkorange b/c orange does not pass contrast test */
}

h3.nodata {
  font-family: Graphik !important;
  font-weight: bold !important;
  font-size: 30px !important;  /*same as selected-state-note-title */
  margin-bottom: 12px;
}


h3.reh3 {
  font-family: Graphik !important;
  font-weight: bold !important;
  font-size: 30px !important;  /*same as selected-state-note-title */
  margin-bottom: 12px;
}



h4.reh4 {
  font-family: Graphik !important;
  font-weight: bold !important;
  font-size: 22px; /* same as selected-state-note-title */
  margin-top: 18px;
  margin-bottom: 12px;
  color: #004270;
  padding-top: 24px;
  /*text-transform: uppercase; */
  /*font-variant: small-caps; */
}


.resubtitle{
  font-family: Graphik;
  font-size: 18px;
}

/* Styling for picker button */
.re-picker, .re-picker:hover, .re-picker:active, .re-picker:focus {
  color: #D25E2D;
  border-radius:0px;
  font-size: 30px;
  font-family: Graphik;
  font-weight: bold;
  font-family: Graphik !important;
  background-color: #fff;
  padding: 0px 0.1em 0px 0.0em;
  margin-right: 10px;
  margin-left: -0.10em;
  border-bottom: 2px solid;
  border-bottom-color: #D25E2D;
}

/* Styling for titles */
.retitle {
  font-family: Graphik;
  font-weight: bold;
  font-size: 30px !important;
  width: 90%;
}

.retitle-info {
  font-family: Graphik;
  font-weight: bold;
  font-size: 15px !important;
  width: 90%;
}

/* Styling for unordered list in calctxt class */
ul.calctxt {
  padding-left: 16px;
  padding-top: 0.25em;
}


/* Styling for checkboxes */
.checkbox {
  font-family: Graphik;
}

/* Color of checked checkbox */
input[type=checkbox] {
  accent-color: #004270;
}

/* styling for radio buttons -- .shiny-input-radiogroup*/ 
.shiny-input-radiogroup {
  font-family: Graphik;
}

span.demo-radio-cat {
  font-size: 1.15em !important;
  font-weight: 500 !important;
}

/* color of selected radio button */ 
input[type=radio]{
  accent-color: #004270; 
}



/* Blue background when checkbox is checked */
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: red !important;
    background-color: red !important;
}


/*##############################################################################
DOWNLOAD DATA
##############################################################################*/

/*.dropdown-menu span {text-align: left; width: 100%;}*/

/* Style for selector input in download page */
.picker-style, .picker-style:hover, .picker-style:active, .picker-style:focus {
  color: #004270;
  border-radius:0px;
  font-family: Graphik;
  background-color:#FFFFFF;
}

.picker-style {
  width: 90%;
  max-width: 20em;
}

/* Style for download data button */
.download-btn-lg {
  width: 90%;
  max-width: 20em;
  min-width: 10em;
  margin-top: 2.8em;
  margin-bottom: 0.4em;
  border-radius:0px;
  color: #fff;
  background-color:#004270;
  text-align: left;
  font-family: Graphik;
  font-weight: bold;
}

  /* Title of download page */
#download-title {
  text-align: center;
  font-size: 30px;
  font-family: Graphik;
  font-weight: bold;
}

/* Title of data table selected for download */
#download-data-title {
  text-align: left;
  font-family: Graphik;
  font-weight: bold;
  font-size: 24px;
}

/* Download info setting */
#download-info {
  text-align: left;
  font-family: Graphik;
}


/*##############################################################################
MODAL/CONDUCTOR/GUIDE STYLING FOR R/E TAB  DATA
##############################################################################*/

/* Modal Look */
.modal{
  display: block;
}
.modal-header {
  color: #fff;
  background-color: #004270;
  font-size: 30px;
  font-family: Graphik !important;
  font-weight: bold;
}

.modal-footer {
  background-color:#DDE3E9
}

.centered-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* Floating button */
.floating-button {
  position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#004270;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.centered-icon {
  vertical-align: middle;
  font-size: 20px;
}

/* Shepherd Guide Styling */
body.shepherd-active::after {
  content: "";
  display: block;
  background-color: #000000; /*Select your overlay color*/
  opacity: 0.4; /*Overlay Color Opacity, this 'greys out' the app while guide is open*/
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000000;
}

.shepherd-element.shepherd-open{
  z-index: 10000002;
  position: relative;
}
.shepherd-target.shepherd-enabled {
  z-index: 10000001;
  pointer-events: none;
}

/* Header bar for each step in the guide box */
.shepherd-header{
  background-color: #004270 !important;

}

/* Text within the header bar for the guide box */
.shepherd-title{
  color: #FFF !important;
  font-family: Graphik !important;
  text-indent: 1em !important; /* requried when the X (exit) icon is used */
}

.shepherd-content .shepherd-arrow {
  background-color: #DDE3E9;
  font-family: Graphik !important;
}

/* .shepherd-enabled = the highlighted part of the app that that step in the guide is focusing on */

.guidetext {
  font-family: Graphik;
}


/* shepherd-cancel-icon = X icon to exit the guide */
/* pulled from conductor.js; View source code (when app is in browser) > conductor.js */

/* Shepherd Cancel Icon Styling */
/* make 'X' white so can see against dark blue background */
.shepherd-cancel-icon{
  color: #fff !important;

}

/* make 'X' very light blue when hover over icon */
.shepherd-cancel-icon:hover{
  color: #DDE3E9 !important;

}

/* .shepherd-button = next/previous buttons wihtin the guide box */
/* pulled from conductor.js; View source code (when app is in browser) > conductor.js */

/* Shepherd Button Styling */
.shepherd-button{
  background: var(--accent_blue);
  color: #ffffff;
}
.shepherd-button:not(:disabled):hover{
  /*background: #00427099;*/
  background: color-mix(in srgb, var(--accent_blue) 80%, transparent);
  color: #ffffff;
}


#re-explanation {
  text-align: center;
  font-size: 1.25em;
  font-family: Graphik;
}

#re-note {
  text-align: left;
  font-size: 1em;
  font-family: Graphik;
}
